h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    text-shadow: 2px 1px 2px black;
}
a:link {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    text-shadow: 1px 1px 1px black;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid purple;
    border-radius: 5px;
    margin: 50px;
}
a:hover {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #FF00FF;
    text-shadow: 1px 1px 1px black;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid #FF00FF;
    border-radius: 5px;
    margin: 50px;
    text-decoration: underline #FF00FF;
}
a:visited {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: pink;
    text-shadow: 1px 1px 1px black;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid pink;
    border-radius: 5px;
    margin: 50px;
}
body {
    text-align: center;
    margin: 2px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: purple;
    text-shadow: 2px 1px 2px black;
    text-decoration: underline purple;
}
html {
    background-image: url(images/image.png);
    background-repeat: none;
    background-color: #000000;
    background-size: 100%;
}